html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.parallax {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
}
.parallax .caption {
      font-size: 25px;
      letter-spacing: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      background-color: antiquewhite;
      border-radius: 100%;
      text-align: center;
      padding: 50px;
      margin: 100px;
}
.parallax .caption span {
  padding: 18px;
  background-color: #111;
}


.parallax.first-image {
  height: fit-content;
  justify-content: center;
  align-items: center;
  background-image: url("images/Screen Shot 2021-02-27 at 2.34.51 PM.png");
}
.parallax.second-image {
  background-image: url("images/owner&mead.png");
  height: 300px;
}
.parallax.third-image {
  background-image: url("images/owner&mead.png");
  height: 300px;
}
.parallax.fourth-image {
  background-image: url("https://i.ytimg.com/vi/sjCWGHQNaUo/maxresdefault.jpg");
  height: 100%;
}

.parallax-demo {
  color: #777;
  background-color: white;
  padding: 50px 80px;
  text-align: center;

}
.parallax-demo div {
      display: flex;
      text-align: center;
      place-content: center;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font: 20px "Lato", sans-serif;
  color: #111;
  letter-spacing: 5px;
}

.container{
      flex-direction: column;
}






/* Direct Styling  */

body > div:nth-child(2) > div > img{
      margin: 30px;
}
body > div:nth-child(6) > div > img:nth-child(1){
      display: flex;
      width: 300px;
      height:300px;
      text-align: center;
      padding: 25px;

}
body > div:nth-child(6) > div > img:nth-child(3){
      display: flex;
      width: 300px;
      height: 300px;
      padding: 25px;
      text-align: center;
}